<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}Meu Site{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <nav>
    <a href="{{ url_for('index') }}">Cadastrar Currículo</a>
    <a href="{{ url_for('vagas') }}">Gerenciar Vagas</a>
    <a href="{{ url_for('ver_vagas') }}">Ver Vagas</a>
    {% if perfil == 'admin' %}
      <a href="{{ url_for('listar_curriculos') }}">Relatório</a>
    {% endif %}
    {% if perfil %}
      <a href="{{ url_for('logout') }}">Sair</a>
    {% else %}
      <a href="{{ url_for('login') }}">Login</a>
    {% endif %}
  </nav>

  <main>
    {% block content %}{% endblock %}
  </main>
</body>
</html>





